.exchangerino {
  font-size: 1.5rem;
  animation-delay: 1.75s;
  animation-direction: alternate;
  animation-duration: 35s;
  animation-name: exchangerino;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.exchangerino__title {
  font-weight: 100;
  animation-name: thinThenFat;
  animation-delay: 1s;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.exchangerino__glitching {
  animation-name: glitch;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes exchangerino {
  0% {
    font-size: 1rem;
    letter-spacing: 0.01;
  }
  10% {
    font-size: 1.25rem;
    letter-spacing: 0.01;
  }
  25% {
    font-size: 1.5rem;
    letter-spacing: 0.01;
  }
  50% {
    font-size: 2rem;
    letter-spacing: 0.01;
  }

  100% {
    font-size: 4rem;
    letter-spacing: 0.5;
  }
}

@keyframes thinThenFat {
  0% {
    font-weight: 100;
  }
  50% {
    font-weight: 500;
  }
  100% {
    font-weight: 900;
  }
}

@keyframes glitch {
  0% {
    transform: none;
  }
  25% {
    transform: rotateX(10deg);
  }
  50% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(-45deg) rotateY(90deg);
  }
}
